{% extends 'artistindex.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %}
<title>Lumiere | Profile Settings</title>
{% endblock %} 
{% block artist_content %}
<style>
	.profile-pic{
		margin: 0 auto;
		border-radius: 50%;
		max-height: 160px
	}
	#div_id_last_name label,#div_id_phone label,#div_id_email label,#div_id_profile_pic label{
		font-size: 18px;
	}
	#div_id_first_name input,#div_id_last_name input,#div_id_phone input,#div_id_email input{
		background-color: rgb(245, 243, 243);
	}
	#div_id_first_name label{
		font-size: 18px;
	}
</style>

<br>
<div class="row">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="btn text-md font-semibold text-gray-900 ml-16 " href="{% url 'artistprofile' user.makeup.id %}"> &#8592; Back to Profile</a>
			<h3 style="text-align: center" class="font-semibold text-xl mb-5">Account Settings</h3>
			<img class="profile-pic h-24" width="90" src="{{request.user.makeup.image.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" class="w-1/3 mb-12 m-auto" action="" enctype="multipart/form-data">
				{% csrf_token %}
                {{ form | crispy }}
		
			<input class="btn bg-gray-800 text-md font-semibold text-white px-4 py-2" type="submit" name="Update Information">
			</form>
		</div>
	</div>
</div>

{% endblock %}
