{% extends 'index.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %}
<title>Lumiere | Booking Page</title>
{% endblock %} 
{% block main_content %}
{% for msg in messages %}
<div class="msg flex justify-center">
{% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
  <span class=" bg-[#e091a9] fade-msg  py-2 px-3 text-white text-center">
    {{msg}}
  </span>
  {% endif %}
</div>
{% endfor %}
<section
  class="bg-white h-screen max-w-[1920px] p-0 m-0"
  style="width: 100% !important; height: auto !important"
>
<div class="flex justify-between h-[90vh]">
  <div class="w-[50%] h-full relative overflow-hidden">
    <video autoplay loop muted playsinline style="width: 100%; height: 100%; object-fit: cover;position: absolute; top: 0; left: 0;">
      <source src="{% static 'uploads/booking_video1.mp4' %}" type="video/mp4">
      Your browser does not support the video tag.
  </video>  
  </div>
  <div class="w-[50%] flex justify-center">
    <div class="w-[80%] mt-16">
      <h2 class="text-2xl custom-font_1 font-bold text-center mb-4">Book now for our services with {{ artist.artist_name }}</h2>
    <form method="post">
      {% csrf_token %}
      <div class="flex gap-4">
        <div class="w-1/2">
            {{ form.first_name|as_crispy_field }}
        </div>
        <div class="w-1/2">
            {{ form.last_name|as_crispy_field }}
        </div>
    </div>
    <div class="flex gap-4">
      <div class="w-1/2">
        {{ form.email|as_crispy_field }}
    </div>
    <div class="w-1/2">
      {{ form.phone_number|as_crispy_field }}
    </div>
    </div>
      {{ form.time_slot | as_crispy_field }}
    <button type="submit" class="text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-sm px-5 py-2.5 text-center" style="background-color: #663DC6;">Book Slot</button>
    </div>
    
    </form>

</section>
  </div>
</div>
<script>
  // Wait 3 seconds then fade out and remove messages
  setTimeout(() => {
    document.querySelectorAll('.fade-msg').forEach(el => {
      el.style.transition = 'opacity 0.5s ease';
      el.style.opacity = '0';
      setTimeout(() => el.remove(), 500); // remove after fade-out
    });
  }, 3000);
</script>

{% endblock %}
