<style>
    #id_username_helptext, #id_password1_helptext{
        display: none;
    }
    .vertical-line {
      width: 1px; /* Thickness of the line */
      height: 100vh; /* Height of the line */
      background-color: lightgray; /* Color of the line */
    }
</style>
{% extends 'index.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %}
<title>Lumiere | Login Page</title>
{% endblock %} 
{% block main_content %}
{% for msg in messages %}
<div class="msg flex justify-center">
{% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <span class=" bg-red-800  py-2 px-3 text-white text-center">
    {{msg}}
  </span>
  {% endif %}
</div>
{% endfor %}
<section class="h-screen bg-white flex">
    <div class="w-[50%]">
        <div class="flex flex-col items-center justify-center px-6 pb-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white shadow 2xl:relative 2xl:-left-20 rounded-lg md:mt-0 sm:max-w-md xl:p-0 2xl:-mt-32">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl -mb-5 font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Login to your Account
                    </h1>
                    <p class="text-sm font-normal text-gray-400">Enter your credentials to access your account!</p>
                    <form class="space-y-4 md:space-y-6" method="POST">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                  <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" required>
                                </div>
                                <div class="ml-3 text-sm">
                                  <label for="remember" class="text-gray-500">Remember me</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="w-full text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-xl text-sm px-5 py-2.5 text-center" style="background-color: #663DC6;">Sign in</button>
                        <p class="text-sm font-light text-gray-500">
                            Don’t have an account yet? <a href="{% url 'register' %}" class="font-medium text-primary-600 hover:underline" style="color: #663DC6;">Sign up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="vertical-line"></div>
    <div class="w-[45%] absolute right-0 h-[85%] bg-red-100">
        <h1 class="text-xl font-semibold mt-5">Welcome to Lumiere!</h1>
        <h1 class="text-xl font-semibold">Find the new you!</h1>
    </div>
</section>
  

{% endblock %}
