{% extends 'leaderpage/index.html' %}
{% load static %}
{% block title %}
<title>Admin | Artists List</title>
{% endblock %}

{% block admin_content %}
 
{% for msg in messages %}
<div class="msg flex justify-center">
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<span class=" bg-blue-800  py-2 px-3 text-white text-center">
  {{msg}}
</span>
{% endif %}
</div>
{% endfor %}
<div class="flex justify-evenly ml-72 gap-72">
    <h1 class="text-center text-blue-900 font-bold text-3xl my-5">Artist List</h1>
<a href="{% url 'addArtist' %}"><button class="mt-6 px-3 py-2 bg-blue-900 text-white text-center font-bold rounded-lg">+ Add Artist</button></a>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Artist name
                </th>
                <th scope="col" class="px-6 py-3">
                    Speciality
                </th>
                <th scope="col" class="px-6 py-3">
                    Category
                </th>
                <th scope="col" class="px-6 py-3">
                    Rate
                </th>
                <th scope="col" class="px-6 py-3">
                    Description
                </th>
                <th scope="col" class="px-6 py-3">
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for a in artist %}
            <tr class="odd:bg-white even:bg-gray-50 border-b">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    {{a.artist_name}}
                </th>
                <td class="px-6 py-4">
                    {{a.speciality}}
                </td>
                <td class="px-6 py-4">
                    {{a.category}}
                </td>
                <td class="px-6 py-4">
                    {{a.rate}}
                </td>
                <td class="px-6 py-4 w-48">
                    {{a.artist_description}}
                </td>
                <td class="px-6 py-4">
                    <img src="/{{a.image}}" alt="{{a.artist_name}}" width="200px">
                </td>
                <td class="px-6 py-4">
                    <div class="flex gap-x-5">
                        <a href="{% url 'updateArtist' a.id %}" class="font-medium text-blue-600 hover:underline">Update</a>
                        <a href="{% url 'deleteArtist' a.id %}" class="font-medium text-red-600 hover:underline">Delete</a>
                    </div>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
