{% load static %}
<div class="card-body">
    <div class="card-container mb-10 max-w-[1380px] w-full">
        <div class="card-subcontainer">
            <div class="card-wrapper">
                <div class="card ">
                    <div class="image-box">
                        <a href="#"><img src="{% static 'uploads/Arabic.jpg' %}" alt="Arabic makeup"></a>
                    </div>
                    <div class="artist-details py-2">
                        <div class="artist-name">
                            <h3 class="name">Arabic Makeup</h3>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
