{% extends 'leaderpage/index.html' %}
{% load static %}
{% block title %}
<title>Admin | Category List</title>
{% endblock %}

{% block admin_content %}
 
{% for msg in messages %}
<div class="msg flex justify-center">
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<span class=" bg-[#e091a9] fade-msg py-2 px-3 text-white text-center">
  {{msg}}
</span>
{% endif %}
</div>
{% endfor %}
<div class="border border-[#FFB8BD] rounded-lg w-[98%] mx-auto mb-5">
    <h1 class="font-semibold text-2xl text-black my-5 ml-5">Category List</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-[99%] mx-auto text-sm text-left rtl:text-right text-gray-500 mb-4">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-gray-500 font-normal">
                        Category name
                    </th>
                    <th scope="col" class="px-6 py-3 text-gray-500 font-normal">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for c in category %}
                <tr class="odd:bg-white even:bg-gray-50 border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{c.category_name}}
                    </th>
                    <td class="px-6 py-4 flex gap-5 font-normal text-black whitespace-nowrap">
                        <a href="{% url 'updatecategory' c.id %}" class="font-medium bg-[#FFB8BD] text-white font-normal px-3 rounded-md py-0.5">Update</a>
                        <a href="{% url 'deletecategory' c.id %}" class="font-medium bg-[#FF543E] text-white font-normal px-3 rounded-md py-0.5">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="flex justify-end w-[98%] mx-auto">
    <a href="{% url 'addcategory' %}">
        <button class="mb-20 px-20 py-2 text-md bg-[#FFB8BD] text-white text-center font-semibold rounded-sm">
            + Add Category
        </button>
    </a>
</div>
<script>
    // Wait 3 seconds then fade out and remove messages
    setTimeout(() => {
      document.querySelectorAll('.fade-msg').forEach(el => {
        el.style.transition = 'opacity 0.5s ease';
        el.style.opacity = '0';
        setTimeout(() => el.remove(), 500); // remove after fade-out
      });
    }, 3000);
  </script>
  
{% endblock %}
