{% load static %}
<div class="slider">
    <!-- List Items -->
     <div class="list">
      <div class="item active">
        <!-- to access static uploads -->
        <img src="{% static 'uploads/Arabic.jpg' %}" alt="Arabic makeup">
        <div class="slider-content">
          <p>Makeup</p>
          <h2>Arabic</h2>
          <p>Arabic makeup is renowned for its dramatic and elegant look, emphasizing bold eyes and flawless skin. Characterized by intricate eyeliner styles, such as winged and kohl-lined designs, it accentuates the eyes as the focal point. Rich, smoky eyeshadows in jewel tones or metallic hues are commonly paired with voluminous lashes. The skin is perfected with full-coverage foundation, and lips are often kept neutral or adorned with rich, bold colors, creating a sophisticated and timeless allure.</p>
          <button>View Artists</button>
        </div>
       </div>
       <div class="item">
        <!-- to access static uploads -->
        <img src="{% static 'uploads/korean.jpg' %}" alt="korean makeup">
        <div class="slider-content">
          <p>Makeup</p>
          <h2>Korean</h2>
          <p>Korean makeup is celebrated for its natural and youthful aesthetic, focusing on glowing, dewy skin and minimalistic elegance. The "glass skin" look is achieved through lightweight foundations and illuminating products. Soft, gradient lips and flushed cheeks add a delicate charm. Eye makeup is subtle, with neutral tones, shimmery shadows, and gentle eyeliner to enhance the eyes naturally. This style emphasizes skincare and a fresh, radiant appearance, embodying a seamless blend of beauty and simplicity.</p>
          <button>View Artists</button>
        </div>
       </div>
       <div class="item">
        <!-- to access static uploads -->
        <img src="{% static 'uploads/Douyin.jpg' %}" alt="Douyin makeup">
        <div class="slider-content">
          <p>Makeup</p>
          <h2>Douyin</h2>
          <p>Douyin makeup, inspired by the popular Chinese app, emphasizes youthful and ethereal beauty. It features flawless, porcelain-like skin, bright under-eyes, and soft blush applied high on the cheeks for a lifted look. Glossy lips and shimmery eye shadows create a dreamy effect. The style often incorporates creative elements like subtle glitter or gradient colors, blending tradition with modern trends for a captivating aesthetic.</p>
          <button>View Artists</button>
        </div>
       </div>
       <div class="item">
        <!-- to access static uploads -->
        <img src="{% static 'uploads/Japanese.jpg' %}" alt="Japanese makeup">
        <div class="slider-content">
          <p>Makeup</p>
          <h2>Igari</h2>
          <p>Igari makeup, also known as the "hangover look," is a Japanese style that highlights a youthful, flushed appearance. The signature feature is rosy blush applied across the cheeks and nose, mimicking a natural flush. Dewy skin, soft pink or peachy lips, and minimal eye makeup complete the look. This playful and innocent style exudes a sweet, approachable vibe, ideal for a fresh and effortless beauty.</p>
          <button>View Artists</button>
        </div>
        
       </div>
       <div class="item">
        <!-- to access static uploads -->
        <img src="{% static 'uploads/Western.jpg' %}" alt="Western makeup">
        <div class="slider-content">
          <p>Makeup</p>
          <h2>Western</h2>
          <p>Western makeup emphasizes versatility and individuality, from bold, statement looks to natural, minimalist styles. Contoured cheekbones, defined brows, and striking eye makeup, including smoky eyes or winged eyeliner, are common features. Matte or glossy lips in a range of shades add personality. This approach often embraces experimentation, focusing on enhancing natural beauty while exploring diverse techniques and trends.</p>
          <button>View Artists</button>
        </div>
       </div>
       <div class="item">
        <!-- to access static uploads -->
        <img src="{% static 'uploads/Indian.jpg' %}" alt="Indian makeup">
        <div class="slider-content">
          <p>Makeup</p>
          <h2>Indian</h2>
          <p>Indian makeup is vibrant and regal, often highlighting bold eyes and rich tones. Dramatic eyeliner, kajal, and shimmery eyeshadows enhance the eyes, while warm-toned blush and highlighter create a radiant complexion. Lip colors range from deep reds to soft nudes, complementing intricate ethnic attire. This style celebrates cultural elegance and is perfect for festive occasions, blending tradition with contemporary trends.</p>
          <button>View Artists</button>
        </div>
       </div>
     </div>
     <div class="arrows">
      <button id="prev"><</button>
      <button id="next">></button>
     </div>  
     <!-- thumbnail -->
      <div class="thumbnail">
        <div class="item active"><img src="{% static 'uploads/Arabic.jpg' %}" alt=""><div class="thumbnail-content">Arabic</div></div>
        <div class="item"><img src="{% static 'uploads/korean.jpg' %}" alt=""><div class="thumbnail-content">Korean</div></div>
        <div class="item"><img src="{% static 'uploads/Douyin.jpg' %}" alt=""><div class="thumbnail-content">Douyin</div></div>
        <div class="item"><img src="{% static 'uploads/Japanese.jpg' %}" alt=""><div class="thumbnail-content">Igari</div></div>
        <div class="item"><img src="{% static 'uploads/Western.jpg' %}" alt=""><div class="thumbnail-content">Western</div></div>
        <div class="item"><img src="{% static 'uploads/Indian.jpg' %}" alt=""><div class="thumbnail-content">Indian</div></div>
      </div>
   </div>