{% extends 'index.html' %}
{% load static %}
{% block title %}
<title>Lumiere | HomePage</title>
{% endblock %}

{% block main_content %}
<!-- ------------Image Slider Section !!!!!!--------------------- -->
{% include 'artists/imageslider.html' %}
<!-- ------------Image Slider Section END !!!!!!--------------------- -->
  <!-- Latest artist card content section !!!! -->
      <div class="flex justify-evenly gap-5 flex-wrap mt-12">
        
{% for m in makeup %}
<div class="max-w-[280px] bg-white border border-gray-200 rounded-lg shadow">
    <a href="#">
        <div class="w-full h-52">
            <img class="rounded-t-lg w-full h-full" src="{{m.image}}" alt="{{m.artist_name}}"/>
        </div>
        
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl text-center font-bold tracking-tight text-gray-900">{{m.artist_name}}</h5>
        </a>
        <div class="flex justify-evenly mb-2">
            <p class="font-normal text-gray-700">{{m.speciality}}</p>
            <p class="font-normal text-gray-700">{{m.category}}</p>
        </div>
        <p class="mb-3 font-normal text-gray-700">{{m.rate}}</p>
        <p class="mb-3 font-normal text-sm text-gray-700 w-full h-36">{{m.artist_description}}</p>
        <div class="text-center">
            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                View Portfolio
            </a>
        </div>
       
    </div>
</div>

{% endfor %}

      </div>
  <!-- Latest artist card content section END!!!! -->

{% endblock %}