{% extends 'leaderpage/index.html' %}
{% load static %}
{% block title %}
<title>Admin | Speciality List</title>
{% endblock %}

{% block admin_content %}
 
{% for msg in messages %}
<div class="msg flex justify-center">
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<span class=" bg-blue-800  py-2 px-3 text-white text-center">
  {{msg}}
</span>
{% endif %}
</div>
{% endfor %}
<div class="border-4 border-[rgba(176,152,152,0.3)] rounded-lg w-[98%] mx-auto mb-5">
    <h1 class="font-semibold text-2xl text-black my-5 ml-5">Speciality List</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-[99%] mx-auto text-sm text-left rtl:text-right text-gray-500 mb-4">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-gray-500 font-normal">
                        Speciality name
                    </th>
                    <th scope="col" class="px-6 py-3 text-gray-500 font-normal">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for s in speciality %}
                <tr class="odd:bg-white even:bg-gray-50 border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{s.speciality_name}}
                    </th>
                    <td class="px-6 py-4 flex gap-5 font-normal text-black whitespace-nowrap">
                        <a href="{% url 'updatespeciality' s.id %}" class="font-medium bg-[#663DC6] text-white font-normal px-3 rounded-md py-0.5">Update</a>
                        <a href="{% url 'deletespeciality' s.id %}" class="font-medium bg-[#FF543E] text-white font-normal px-3 rounded-md py-0.5">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="flex justify-end w-[98%] mx-auto">
    <a href="{% url 'addspeciality' %}"><button class="mb-20 px-20 py-2 text-md bg-[#663DC6] text-white text-center font-semibold rounded-sm">+ Add Specialty</button></a>
</div>

{% endblock %}
