{% extends 'artistindex.html' %} 
{% load static %} 
{% load crispy_forms_tags %} 
{% block title %}
<title>Lumiere | Upload Timeslot</title>
{% endblock %} 
{% block artist_content %}
{% for msg in messages %}
<div class="msg flex justify-center mt-3">
  {% if msg.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<span class=" bg-[#e091a9] fade-msg py-2 px-3 text-white text-center">
  {{msg}}
</span>
{% endif %}
{% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
  <span class=" bg-red-800 fade-msg py-2 px-3 text-white text-center">
    {{msg}}
  </span>
  {% endif %}
</div>
{% endfor %}
<div class="row mt-10">
	<div class="col-md-3">
		<div class="card card-body">
			<h3 style="text-align: center" class="font-semibold custom-font_1 text-xl mb-5">Upload Timeslots</h3>
		</div>
	</div>
	<div class="col-md-9 flex justify-center">
		<div class="card card-body border-2 border-gray-300 rounded-md w-[25%] py-5">
			
			<form method="POST" class="w-[90%] mb-5 m-auto" action="" enctype="multipart/form-data">
				{% csrf_token %}
                {{ form | crispy }}
		
                <input class="btn bg-gray-800 text-md font-semibold text-white px-4 py-2" type="submit" name="Upload">
		</div>
	</div>
</div>
<script>
	// Wait 3 seconds then fade out and remove messages
	setTimeout(() => {
	  document.querySelectorAll('.fade-msg').forEach(el => {
		el.style.transition = 'opacity 0.5s ease';
		el.style.opacity = '0';
		setTimeout(() => el.remove(), 500); // remove after fade-out
	  });
	}, 3000);
  </script>
{% endblock %} 
